.background-cabecalho {
  width: 100%;
  height: 66px;
  background-color: #d9d9d9;
  
}
.links {
    display: flex;
    background-color: #d9d9d9;

    
  }
  .link-route {
      margin: 15px 78px 15px 15px;
    }

  a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #5E5C5C;
    background-color: #d9d9d9;
  }