<div class="background-dashboard">
  <div class="corpo-pagina">
    <h1 class="welcome">Bem vindo</h1>
    <div class="info-tasks">
      <div class="tasks">
        <h2>Total tasks</h2>
        <p>{{ totalTask }}</p>
      </div>
      <div class="tasks">
        <h2>Completas</h2>
        <p>{{ concluidas }}</p>
      </div>
      <div class="tasks">
        <h2>Pendente</h2>
        <p>{{ pendentes }}</p>
      </div>
    </div>
    <div class="task-category">
      <h2 class="titulo-task">Task por categoria</h2>
      <div class="tipo-categoria">
        <div class="categoria categoria-1">
          <h2>Categoria 1</h2>
          <p>{{ categoria1 }}</p>
        </div>
        <div class="categoria categoria-2">
          <h2>Categoria 2</h2>
          <p>{{ categoria2 }}</p>
        </div>
        <div class="categoria categoria-3">
          <h2>Categoria 3</h2>
          <p>{{ categoria3 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
